/* General reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Header Styles */

header {
  padding: 3em 0;
}

header h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home {
  margin: 0 auto;
}

.away {
  margin: 0 auto;
}

img {
  width: 15%;
  margin-left: 42%;
}

/* General Styles */

body {
  color: #fff;
  background-color: #001d3d;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

h3 {
  text-align: center;
}

#vs {
  align-self: center;
  color: #4caf50;
}

.sum,
th {
  color: black;
  font-weight: bold;
  background-color: #b0b4b6;
  border: 1px solid black;
  border-collapse: collapse;
  width: 5%;
}

/* Table */

table {
  width: 60%;
  margin: 0 auto;
}

table,
td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #fff;
}

th,
td {
  padding: 15px;
  text-align: left;
}

td {
  color: #001d3d;
}

#t01 {
  background-color: #fff;
}

#btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.2s ease-in-out;
}

#btn:hover,
#btn:focus {
  transform: scale(1.02);
  background-color: #4caf52;
}

footer {
  padding: 3em;
  text-align: center;
}
